.button_filter {
    border: none;
    padding: 0.75rem 1.5rem;
    background-color: #044595;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;    
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all .6s ease;
    margin: 0 auto;
  }
  
  .button_filter:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
  }
  
  .button_filter:focus,.button_filter:active {
    opacity: .85;
    box-shadow: none;
  }
  
  .button_filter img {
    width: 1.25rem;
    height: 1.25rem;
  }


