
.action {
	position: fixed;
	top: 12px;
	
	right: 35px;
}

.action .profile{
	position: relative;
	width: 46px;
	height: 45px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	
}

.action .profile img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.action .profile .fa-user-large{
	position: relative;
	top: -10;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-size: 45px;
	color: white;
	
}
.action .menu{
	position: absolute;
	top: 120px;
	right: -10px;
	padding: 10px 20px;
	background: #fff;
	width: 200px;
	box-sizing: 0 5px 25px rgba(0,0,0,0.1);
	border-radius: 15px;
	transition: 0.5s;
	visibility: hidden;
	opacity: 0;
}


.action .menu.active{
	top: 61px;
	visibility: visible;
	opacity: 1;
}

.action .menu::before {
	content: '';
	position: absolute;
	top: -5px;
	right: 28px;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);
}
.action .menu h3{
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding: 20px 0;
	font-weight: 500;
	font-size: 18px;
	color: #555;
	Line-height: 1.2em;
}

.action .menu h3 span{
	font-size: 14px;
	color: #cecece;
	font-weight: 400;
}



.action .menu ul li{
	List-style: none;
	padding: 10px 0;
	border-top: 1px solid rgba(0,0,0,0.05);
	display: flex;
	align-items: center;
}



.action .menu ul li img {
	max-width: 20px;
	margin-right: 10px;
	opacity: 0.5;
	transition: 0.5s;
}

.action .menu ul li:hover img{
	opacity: 1;
}


.action .menu ul li a{
	display: inline-block;
	text-decoration: none;
	color: #555;
	font-weight: 500;
	transition: 0.5s;
}


.action .menu ul li:hover a{
	color: #0f509f;
}





@media screen and (max-width: 1160px) {

}
@media screen and (max-width: 950px) {

}
@media screen and (max-width: 768px) {
	.action .menu form ul li a{
		display: inline-block;
		text-decoration: none;
		color: #555;
		font-weight: 500;
		transition: 0.5s;
	}



	.action .profile .fa-user-large{
		position: relative;
		top: 1px;
		font-size: 28px;
		
	}

	.action {
		right: 15px;
		top: 16px;
	}

	.action .profile {
		width: 37px;
		height: 34px;

	}

	.action .menu.active {
		top: 61px;
		visibility: visible;
		opacity: 1;
		right: 1;
	}

	.action .menu::before {
		content: '';
		position: absolute;
		top: -5px;
		right: 11px;
		width: 20px;
		height: 20px;
		background: #fff;
		transform: rotate(45deg);
	}
	

	
	
}
