.fab {
    background-color: transparent;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    transition: height 300ms;
    transition-timing-function: ease;
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-align: center;
    overflow: hidden;
  }
  
  .fab:hover {
    height: 293px;
  }
  
  .fab:hover .mainop {
    transform: rotate(180deg);
  }
  
  .mainop {
    margin: auto;
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform 300ms;
    background-color: #008ce9;
    border-radius: 32px;
    z-index: 6;
  }
  
  .mainopShadow {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .mainop .iconn {
    margin-top: 7px;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
  }
  


  .minifab {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    z-index: 5;
    float: left;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: blue;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .minifab:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .minifabIcon {
    height: 24px;
    width: 24px;
    margin-top: 12px;
  }
  
  .op1 {
    background-color: #4267B2;
  }
  
  .op2 {
    background-color: #25D366;
    cursor: pointer;
  }
  
  .op3 {
    background-color: #FF0000;
  }
  
  .op4 {
    background-color: #010101;
  }
  

  .fab, .fa-brands {
    /* margin-top: 7px; */
    font-size: 32px;
    color: #fff;
    cursor: pointer;
  }
  



  .email {
    width: 100%;
    padding: 20px 0px 40px 0px;
    background-color:#0b3564;
    justify-content: center;
    text-align: center;
  }
  
  .email p {
    font-size: 20px;
  }


  @media screen and (max-width: 1160px) {

  }
  @media screen and (max-width: 950px) {

  }
  @media screen and (max-width: 768px) {
    .fab {
      right: 13px;
      bottom: 18px;
     
  }
}